@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital@1&display=swap');

body{
    background-color: #cfe2e8;
    margin: 0;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;   
}
nav{
    display: block;
    margin: 2% auto auto;
    width: 95%;
}
ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 5px 0 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    justify-content: space-between;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.reg-button a:hover:not(.active){
    color: white;
}

li a:hover:not(.active) {
    color: dodgerblue;
}

.reg-button{
    background-color: dodgerblue;
    border-radius: 10px;
}

h1 {
    margin-left: 10px;
    margin-right: auto;
    color: rgb(19, 77, 134);
    font-size: 48px;
}    

#doctor-info {
    margin-top: 50px;
    margin-left: 30px;
}