<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="../static/css/style_mg.css">
    <script
            src="https://kit.fontawesome.com/10446019b7.js"
            crossorigin="anonymous"
    ></script>
</head>
<body>
    <nav>
        <ul>
        <div>
        <li><img src="../static/images/logo.png" style="height: 60px" alt=""></li>
        </div>
        <div>
        <li><a href="{{url_for('home')}}">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a class="active" href="#faq">FAQ</a></li>
            <li><a href="{{url_for('contactUs')}}">CONTACT</a></li>
        </div>
       <div>
        <li><a href="./html/login.html">LOGIN</a></li>
        <li><a href="./html/signup.html" class="reg-button">REGISTER</a></li>
        <li><a href="#"><i class="fa-regular fa-circle-user fa-2xl"></i></a></li>
        </div>
        </ul>
    </nav>

    
        <h2>FAQ!  We Have Answers for You.. </h2>


        <div class="container-fluid">

        <div class="accordion">
            <div class="icon"></div>
            <h5>What are the major NCDs?</h5>
        
        </div>

        <div class="panel">
            <p>Most common non communicable diseases can be categorized as cardiovascular diseases (CVD),
                diabetes mellitus (DM), chronic respiratory diseases (CRD), and cancers (CA).</p>
        </div>

    <div class="accordion">
        <div class="icon"></div>
        <h5>What are types of specialists related to major NCDs?</h5>
    
    </div>
    <div class="panel">
        <p>Cardiovascular diseases related specialists - Cardiologists,
            Diabetes mellitus related specialists - Endocrinologists,
            Chronic respiratory diseases related specialists - Pulmonologists,
            Cancer related specialists - Oncologists.</p>
        </div>

    <div class="accordion">
        <div class="icon"></div>
        <h5>What are types of specialists related to major NCDs?</h5>
    
    </div>
    <div class="panel">
        <p>Cardiovascular diseases related specialists - Cardiologists,
            Diabetes mellitus related specialists - Endocrinologists,
            Chronic respiratory diseases related specialists - Pulmonologists,
            Cancer related specialists - Oncologists.</p>
        </div>

    <div class="accordion">
        <div class="icon"></div>
        <h5>What are types of specialists related to major NCDs?</h5>
    
    </div>
    <div class="panel">
        <p>Cardiovascular diseases related specialists - Cardiologists,
            Diabetes mellitus related specialists - Endocrinologists,
            Chronic respiratory diseases related specialists - Pulmonologists,
            Cancer related specialists - Oncologists.</p>
        </div>

    <div class="accordion">
        <div class="icon"></div>
        <h5>What are types of specialists related to major NCDs?</h5>
    
    </div>
    <div class="panel">
        <p>Cardiovascular diseases related specialists - Cardiologists,
            Diabetes mellitus related specialists - Endocrinologists,
            Chronic respiratory diseases related specialists - Pulmonologists,
            Cancer related specialists - Oncologists.</p>
        </div>

    <div class="accordion">
        <div class="icon"></div>
        <h5>What are types of specialists related to major NCDs?</h5>
    
    </div>
    <div class="panel">
        <p>Cardiovascular diseases related specialists - Cardiologists,
            Diabetes mellitus related specialists - Endocrinologists,
            Chronic respiratory diseases related specialists - Pulmonologists,
            Cancer related specialists - Oncologists.</p>
        </div>

    <div class="accordion">
        <div class="icon"></div>
        <h5>What are types of specialists related to major NCDs?</h5>
    
    </div>
    <div class="panel">
        <p>Cardiovascular diseases related specialists - Cardiologists,
            Diabetes mellitus related specialists - Endocrinologists,
            Chronic respiratory diseases related specialists - Pulmonologists,
            Cancer related specialists - Oncologists.</p>
        </div>
    </div>

    <script src="../static/js/jscrpt_mg.js"></script>


<!--
<footer>
    <h6>© 2023 · Doctain · All rights reserved</h6>
</footer> 
-->

</body>
</html>