<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserProfile</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>

    
    <div class= "container">
        <div class= "sidebar">
            <img src= "../static/images/manugi/UserProfile.png" class="rounded-circle" >
            <ul>
                <li><a href="#">Bookmarks</a></li>
                <li><a href="#">Presciptions</a></li>
                <li><a href="#">Sign out</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </div>
        <div class="details">
            <ul>
                <h1>ABOUT</h1>
            </ul>
            <ul>
                <h3>Name</h3>
                <div class= "fullname">
                <li>Manugi Bandara</li>
            </div>
            </ul>
            <ul>
                <h3>Age</h3>
                <div class= "age">
                <li>22 years</li>
            </div>
            </ul>
            <ul>
                <h3>Gender</h3>
                <div class= "gender">
                <li>Female</li>
            </div>
            </ul>
            <ul>
                <h3>Country</h3>
                <div class= "country">
                <li>Sri Lanka</li>
            </div>
            </ul>
            <ul>
                <h3>Email</h3>
                <div class= "email">
                <li>manugi374@gmail.com</li>
            </div>
            </ul>
            <ul>
                <h3>Contact Number</h3>
                <div class= "cnumber">
                <li>+94773489657</li>
            </div>
            </ul>
        </div>
    </div>  
</body>
</html>

    
